
body {
    background-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header.navigation{
    margin: 0 auto
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}

.logo{
    width: 100px;
    height: 100px;
    padding: 10px 0;
    float: left;
}

.navigation {
    width: 73%;
    padding: 2%;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
color: rgb(66, 66, 66);
text-decoration: none;
}

nav a:hover{
    color: #000
}

.heroImg {
    height: 600px;
    padding: 25px;

}

.content {
    width: 500px;
    margin: 0 auto;
    padding: 25px;
}

button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}
footer{
    background-color: #373738;
    padding: 1%;
    color: white;
    display: block;
}
footer ul  {
    display: inline-block;
    vertical-align: top;
    padding: 8px;
}
li {
   float: left;
   padding: 8px;
}
h1.workGrid{
    text-align: center;
    padding: 20px;
}

.circle{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

span.circle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    align-items: baseline;
}

div.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
div{
    padding: 60px;
}
img{
    display: flex;
    flex-direction: row;
    align-items: center;
}

